.video-item-details-outer-container {
  display: flex;
  flex-direction: column;
}
.outer-video-container {
  display: flex;
  flex-direction: row;
  height: 94%;
  padding-top: 30px;
}
.video-detail-views-likes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-detail-likes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}
.like-action-container {
  /* width: 33%; */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border-width: 0px;
}
.active-like .like-action-icon,
.active-dislike .like-action-icon {
  color: #2563eb;
}
.like-action-icon {
  color: #616e7c;
}
.like-action-text {
  color: #616e7c;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}
.horizontal-ruler {
  height: 2px;
  background-color: #212121;
  margin-bottom: 30px;
}
.channel-container {
  display: flex;
  flex-direction: row;
}
.video-detail-channel-name {
  margin-top: 0px;
  color: #212121;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 23px;
}
.video-detail-channel-name-dark {
  color: #f8fafc;
}

.video-detail-channel-subscribers {
  color: #616e7c;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.video-detail-channel-description {
  color: #475569;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
}
.video-detail-channel-description-dark {
  color: #f8fafc;
}

.video-item-content-container {
  background-color: #f1f5f9;
  background-size: cover;
  padding: 25px;
  overflow-y: scroll;
  width: 80%;
}
.video-item-content-container-dark {
  background-color: black;
}

.video-title {
  padding-top: 10px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
}
.video-title-dark {
  color: #f8fafc;
}
