.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 6%;
}
.app-logo {
  width: 100px;
  height: 30px;
}
.threeicons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme {
  border-width: 0px;
  background-color: transparent;
}

.icon {
  height: 25px;
  width: 25px;
}
.profile-logo {
  height: 25px;
  width: 25px;
}

.logout {
  border: 1px solid #3b82f6;
  background-color: transparent;
  color: #3b82f6;
}
