.logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 20%;
  margin-top: 10px;
  /* border: 2px solid blue; */
}
.three-links {
  margin-top: -11px;
}
.linkstyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-bottom: -10px;
  background-color: #e2e8f0;
  /* border: 2px solid blue; */
}
.non-link-style {
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-bottom: -10px;
}
.icon-style {
  width: 30px;
  height: 30px;
  color: #7e858e;
  margin-right: 10px;
}
.heading {
  color: #7e858e;
  font-family: "Roboto";
  font-family: 500;
  font-size: 20px;
}
.footer-logo-container {
  margin-top: 30px;
  padding-top: 20px;
}
.footer-heading {
  color: #212121;
  font-family: "Roboto";
  font-family: bolder;
  font-size: 17px;
}
.footer-heading-dark {
  color: white;
}
.footer-content {
  color: #212121;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 14px;
}
.footer-content-dark {
  color: white;
}
.three-logo-container {
  display: flex;
  flex-direction: row;
}
