.outside-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.inner-container {
  display: flex;
  flex-direction: row;
  height: 94%;
  /* padding-top: 30px; */
  /* border: 2px solid red; */
}

.home-container {
  /* border: 2px solid black; */
  width: 80%;
  overflow-y: scroll;
}

.modal {
  background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png");
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.home-heading {
  color: #212121;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 15px;
}
.get-now-Heading {
  border: 1px solid #212121;
  color: #212121;
  padding: 8px;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 15px;
  width: 120px;
}
.close-icon {
  border-width: 0px;
  background-color: transparent;
}
.close {
  width: 80px;
  height: 30px;
}
.search-container {
  background-color: #ebebeb;
  background-size: cover;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
  flex-direction: row;
  width: 33%;
}
.search-input {
  width: 80%;
}
.search-button {
  text-align: center;
  padding: 2px;
  width: 15%;
}
.video-list {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
